# Stack
.stack-work/
*~

# Cabal
dist-newstyle/
dist/
cabal-dev/

# Build artifacts
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

# Profiling
*.prof
*.aux
*.hp
*.eventlog

# Haskell Tool Stack
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.cabal#

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db